<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Deed</title>
    </head>

    <body style="background-color:#2b292b;">
        <center>
            <p style="color:#bab7ff;" th:text="${deed.getName()}">value</p>
            <a th:href="@{/todolist/{id}/editDeed(id=${deed.getId()})}">
                <input type="submit" value="Edit"/>
            </a>
            <br/>
            <form th:method="DELETE" th:action="@{/todolist/{id}(id=${deed.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </center>
    </body>
</html>
